# Supabase Configuration
# Obtenha em: https://supabase.com/dashboard/project/_/settings/api
VITE_SUPABASE_URL=https://eqecfiezurkvacbehupv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVxZWNmaWV6dXJrdmFjYmVodXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgzODM2MTYsImV4cCI6MjA4Mzk1OTYxNn0.DGEgrNcSyG5-c7UR-53UUi6LmOlmf4-Iafydd7WyUzc
